<html ng-app='myapp'>
	<head>
		<title>directive</title>
		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src='js/angular.min.js'></script>
    	<link rel="stylesheet" href="css/weui.min.css"/>
		<link rel="stylesheet" href="css/failed.css">
	</head>
	<body ontouchstart = '' >
		<div class="bd">
			<a type='2'></a>
		</div>
	</body>
	<script type="text/javascript">
		var module = angular.module('myapp',[]);

		module.directive('a',function(){
			return{
				restrict:'E',
				scope:{
					type:'@'
				},
				template:'<div>Directive A <b ng-click="b(1)"></b> <c ng-if="c[0]"></c> <h2 ng-if="false">Directive D</h2> <h2>Directive E</h2> <h2>Directive F</h2></div>',
				link:function(scope,elem,attr){
					scope.c = [true,false];
					scope.b= function(index){
						scope.c[index] = !scope.c[index];
					}
				}
			}
		});
		module.directive('b',function(){
			return{
				restrict:'E',
				template:'<h2>Directive B</h2>'
			}
		})
		module.directive('c',function(){
			return{
				restrict:'E',
				template:'<h2>Directive C</h2>'
			}
		})
	</script>
</html>