<html>
	<head>
		<meta charset='utf-8'>
		<link rel="stylesheet" href="css/bootstrap-3.3.5-dist/css/bootstrap.min.css">
		<script type="text/javascript" src = 'js/angular.min.js'></script>
		<script type="text/javascript" src='css/bootstrap-3.3.5-dist/js/ui-bootstrap-tpls.js'></script>
	</head>
	<body ng-app="myApp" style="background:#4A4A4A" class="row">
    <div style="color:#fff; font-size:30px; font-weight:bold; text-shadow:3px 3px 3px #ccc;-webkit-text-shadow:3px 3px 3px #ccc; text-align:center; margin-top:30px;">FE-演示平台</div>
    <section class="row" >
        <section ng-controller="modalDemo" class="col-md-6" style="margin:40px auto; float:none; background:#fff; padding:30px;">
    <script type="text/ng-template" id="myModelContent.html">  
        <div class="modal-header"> 
            <h3 class="modal-title">html5jq模态框</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                <a ng-click="selected.item = item">{{item}}</a> /
                </li>
                当前选择： <b>{{selected.item}}</b>
            </ul>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">
            确认
            </button>
            <button class="btn btn-warning" ng-click="cancel()">退出</button>
        </div>
    </script>
            <button class="btn btn-info" ng-click="open()">点我！</button>
            <button class="btn btn-default" ng-click = "open('lg')">大模态</button>  
            <button class="btn btn-default" ng-click = "open('sm')">小模态</button>
            <hr>
            <div ng-show="selected">当前选择：{{selected}}</div>
        </section>
    </section>
    <script>
    angular.module('myApp',['ui.bootstrap']).controller('modalDemo',function($scope,$modal,$log){ //
        $scope.items = ['html5','jq','FE-演示平台'];
        $scope.open = function(size){  //打开模态 
            var modalInstance = $modal.open({
                templateUrl : 'myModelContent.html',  //指向上面创建的视图
                controller : 'ModalInstanceCtrl',// 初始化模态范围
                size : size, //大小配置
                resolve : {
                    items : function(){
                        return $scope.items;
                    }
                }
            })
            modalInstance.result.then(function(selectedItem){  
                $scope.selected = selectedItem;
            },function(){
                $log.info('Modal dismissed at: ' + new Date())
            })
        }
    })
    angular.module('myApp').controller('ModalInstanceCtrl',function($scope,$modalInstance,items){ //依赖于modalInstance
        $scope.items = items;
        $scope.selected = {
            item : $scope.items[0]
        };
        $scope.ok = function(){  
            $modalInstance.close($scope.selected.item); //关闭并返回当前选项
        };
        $scope.cancel = function(){
            $modalInstance.dismiss('cancel'); // 退出
        }
    })
</script>
</body>

</html>