<html ng-app='myapp'>
	<head>
		<title>订单查询</title>
		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<link rel="stylesheet" href="css/weui.min.css"/>
    	<link rel="stylesheet" href="css/swiper.min.css">
		<link rel="stylesheet" href="css/orderCheck.css">
	</head>
	<body ontouchstart='' ng-controller='myctrl'>
		<div class="swiper-container" style='height:initial'>
			<div class="swiper-wrapper" style='height:initial'>
		      	<div class="weui_cells weui_cells_access swiper-slide">
			            <a class="weui_cell order_Cell" id = '{{detail.orderNum}}' ng-click='orderDetail(this)'  ng-repeat='detail in details'>
			                <div class="weui_cell_bd weui_cell_primary type">
		            			<article personName='{{detail.personName}}' orderNum = '{{detail.orderNum}}' businessEntrust='{{detail.businessEntrust}}' style='max-width:75%'>
								</article>
								<div class="status{{detail.status}}" style='text-align:center'>
									<statustext text='{{detail.status}}'></statustext>
								</div>
			                </div>
			                <div class="weui_cell_ft"></div>
			            </a>
		    	</div>
		      	<div class="weui_cells weui_cells_access swiper-slide">
					<div class="bd">
	        			<div class="weui_cells">
            				<div class="weui_cell">
				                <div class="weui_cell_bd weui_cell_primary">
				                    <p>订单号</p>
				                </div>
				                <div class='detailNum'>
									<div class="status{{detail.status}}">
										<statustext text='{{detail.status}}'></statustext>
									</div>
				                	<div class="grey_font" ng-bind='detail.orderNum'></div>
				                </div> 
				           		</div>
				            <div class="weui_cell">
				                <div class="weui_cell_bd weui_cell_primary">
				                    <p>预约人姓名</p>
				                </div>
				                <div class="grey_font" ng-bind='detail.personName'></div>
				            </div>
				            <div class="weui_cell">
				                <div class="weui_cell_bd weui_cell_primary">
				                    <p>委托业务</p>
				                </div>
				                <p class="grey_font" ng-bind='detail.businessEntrust'></p>
				            </div>
				            <div class="weui_cell">
				                <div class="weui_cell_bd weui_cell_primary">
				                    <p>委托形式</p>
				                </div>
				                <div class="grey_font" ng-bind='detail.formEntrust'></div>
				            </div>
				            <div class="weui_cell">
				                <div class="weui_cell_bd weui_cell_primary">
				                    <p>手机号码</p>
				                </div>
				                <div class="grey_font" ng-bind='detail.phoneNumber'></div>
				            </div>
				            <div class="weui_cell">
				                <div class="weui_cell_bd weui_cell_primary">
				                    <p>身份证号码</p>
				                </div>
				                <div class="grey_font" ng-bind='detail.certificateNo'></div>
				            </div>
				            <div class="weui_cell">
			               		 <div class="weui_cell_bd weui_cell_primary">
				                    <p>房地产所在区</p>
				                </div>
				                <div class="grey_font" ng-bind='detail.houseAddress'></div>
				            </div>
				            <div class="weui_cell">
				                <div class="weui_cell_bd weui_cell_primary">
				                    <p>房地产名称</p>
				                </div>
				                <div class="grey_font" ng-bind='detail.houseName'></div>
				            </div>
				            <div class="weui_cell">
				                <div class="weui_cell_bd weui_cell_primary">
				                    <p>权属证明编号</p>
				                </div>
				                <div class="grey_font" ng-bind='detail.ownershipNo'></div>
				            </div>
			                <div class="weui_cells weui_cells_access">
					            <a class="weui_cell" ng-click='scheduleCheck(this)'>
					                <div class="weui_cell_bd weui_cell_primary">
					                    <p>业务办理进度</p>
					                </div>
					                <div class="weui_cell_ft"></div>
					            </a>
			        		</div>
    					</div>
				    	<div class="bd spacing">
		    					<a href="javascript:mySwiper.slidePrev();window.scrollTo(0,0);" class="weui_btn weui_btn_primary next">返回</a>
						</div>
					</div>
		    	</div>
		    	<div class="weui_cells weui_cells_access swiper-slide">
					<div class="bd">
						<div class="weui_cells">
							<div class="weui_cell">
				                <div class="weui_cell_bd weui_cell_primary" style='color:#888'>
				                    <p>订单号</p>
				                    <p>预约人姓名</p>
				                </div>
				                <div class="">
				                	<p ng-bind='detail.orderNum'></p>
				                	<p ng-bind='detail.personName'></p>
				                </div>
							</div>
						</div>
						<div class="weui_cells schedule_cells {{scheduleClass[0]}}">
							<i class='weui_icon_circle'></i>
							<div class="weui_cell schedule_cell">
							<div class="weui_articel">
								<section>
									<p>电话确认业务办理时间</p>
									<p>服务经理电话： 18888888888</p>
								</section>
							</div>
							</div>
						</div>
						<div>
							<artical class="weui_cells schedule_cells {{scheduleClass[1]}}" ifshow='true' num="1" pngimage="{{detail.bookImage}}" masktitle='预约取号凭证'></artical>	
							<artical class="weui_cells schedule_cells {{scheduleClass[2]}}" ifshow='true' num="2" pngimage="{{detail.allPrivilegeImage}}" masktitle='全权交接凭证'></artical>
							
						</div>
						<div style='display:{{cancel}}'>	
							<artical class="weui_cells schedule_cells {{scheduleClass[3]}}" ifshow='false' num="3" ></artical>	
							<artical class="weui_cells schedule_cells {{scheduleClass[4]}}" ifshow='true' num="4" pngimage="{{detail.cancelImage}}" masktitle='注销抵押凭证'></artical>
						</div>
						<div style='display:{{transfer}}'>
							<artical class="weui_cells schedule_cells {{scheduleClass[5]}}" ifshow='false' num="5"></artical>
							<artical class="weui_cells schedule_cells {{scheduleClass[6]}}" ifshow='true' num="6" pngimage="{{detail.transferContractImage}}" masktitle='二手买卖合同凭证'></artical>	
							<artical class="weui_cells schedule_cells {{scheduleClass[7]}}" ifshow='true' num="7" pngimage="{{detail.transferImage}}" masktitle='过户完成凭证'></artical>
						</div>	
						<div style='display:{{hourse}}'>						
							<artical class="weui_cells schedule_cells {{scheduleClass[8]}}" ifshow='false' num="8"></artical>	
							<artical class="weui_cells schedule_cells {{scheduleClass[9]}}" ifshow='true' num="9" pngimage="{{detail.hourseImage}}" masktitle='取新房产证凭证'></artical>
						</div>
						<div style='display:{{loan}}'>
							<artical class="weui_cells schedule_cells {{scheduleClass[10]}}" ifshow='false' num="10"></artical>
							<artical class="weui_cells schedule_cells {{scheduleClass[11]}}" ifshow='true' num="11" pngimage="{{detail.loanImage}}" masktitle='带框抵押凭证'></artical>
						</div>
				    	<div class="bd spacing">
		    					<a href="javascript:mySwiper.slidePrev();window.scrollTo(0,0);" class="weui_btn weui_btn_primary next">返回</a>
						</div>
					</div>
					</div>
		    	</div>
		</div>
		<script src='js/angular.min.js'></script>
		<script src='js/swiper.min.js'></script>
		<script src='js/orderCheck.js'></script>
	</body>
</html>
